/*
!/articles/
!/files/
!/images/
!/menus/
!/.github/
!404.html
!404.png
!animate.css
!defStyling.css
!index.html
!init.js
!jquery-3.3.1.min.js
!LICENSE.md
!README.md
!robots.txt
!sitemap.xml
!tableCounting.css
!.gitignore
