* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
    background: radial-gradient(circle, white, #f1f1f1, #e6e6e6);
}

/* Header/Blog Title */
.header {
    padding: 30px;
    text-align: center;
    background: white;
    color: white;
    text-shadow: black 0.1em 0.1em 1em, black 0.1em 0.1em 1em, #b6b6b6 0.1em 0.1em 1em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.header h1 {
    font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.leftcolumn a:link, .leftcolumn a:visited, .rightcolumn a:link, .rightcolumn a:visited{
  font-size: 0.9em;
  background-color: #f7f7f7;
  color: black;
  padding: 14px 25px;
  text-decoration: none;
  display: inline-block;

}


.leftcolumn a:hover, .leftcolumn a:active, .rightcolumn a:hover, .rightcolumn a:active {
    background-color: #e6e6e6;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 22%;
    height: 100%;
    background-color: #f1f1f1;
}
.midcolumn {
    float: left;
    width:56%;
    min-height: 200px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 22%;
    background: #f1f1f1;
    padding-left: 20px;
}

/* Image */
.img {

}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}
